.carousel{
    width:100%;
    height:70vh;
    background:$card;
  }
  .bottom_of_carousel{
      width:100%;
      height:30vh;
      text-align: center;
      display: flex;
      flex-direction: column;
      align-items: center;
  }
  .flip_btn{
    width:50%;
    height:20%;
    font-size:30px;
    background:$background;
    border-radius: 3px;
  }

  .card-cover-study{
    width: 90vw;
    height:20vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin:10px;
    background: #f6f6f0;
    border-radius: 3px;
    padding:5px;
    border:1px solid #cfcfc0;
    overflow: scroll;
}

