.deck-cover{
    width:90vw;
    height:30vh; 
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: space-around;     
    background:$deck;
    margin:20px;
    padding-top:15px;
  }

  .deck-content{
    width:90%;
    height:75%;
    justify-content: center;
    text-align: center;
    font-size:1em;
    line-height:20px;
    border-radius: 3px;
    text-overflow: scroll;
    font-family: sans-serif;
    .deck-content,h2{
      color:whitesmoke;
    }
  }


  .box-buttons {
    width:90%;
    height:10%;
    display: flex;
    flex-direction:row;
    align-content: center;
    background:$deck;
    align-items: center;
    border:none;
    justify-content: center;
    justify-content: space-around;
  }

  // .cover-button {
  //   background-color: transparent;
  //   border:none;
  //   border-radius:25%;
  // }