body{
  font-family: $titles;
}

.deck-cover{
    width:90vw;
    height:20vh; 
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: space-around;     
    background:$deck;
    margin:20px;
    padding-top:15px;
    border-radius:3px;
  }

  .deck-content{
    width:90%;
    height:75%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    font-size:1em;
    line-height:20px;
    border-radius: 3px;
    text-overflow: scroll;
    font-family: $font;
    .deck-content,h2{
      color:black;
    }
    .deck-content,p{
      color:whitesmoke;
    }
  }
  .titles{
    width:100%;
    height:50%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .box-buttons {
    width:90%;
    height:10%;
    display: flex;
    flex-direction:row;
    align-content: center;
    align-items: center;
    border:none;
    justify-content: center;
    justify-content: space-around;
  }

  //from the favorites i will add the banner here//

  .favorites_banner{
    width:100%;
    height:15vh;
    background: $card;
    display: flex;
    justify-content: center;
    align-items: center;
    
  }

  .favorites_title{
    width:90vw;
    height:10vh; 
    border-radius:3px;
    font-size:24px;
    background:$buttons;
    font-family:$titles;
    margin-bottom:5px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
