.deck-cover{
    width:90vw;
    height:25vh; 
    border: 1px solid black;
    display: flex;
    align-items: center;      
    justify-content: space-between;
    margin: 5vw;
    background:$deck;
  }

  .deck-content{
    width: 50vw;
    height: 100%;
    line-height: 200%;
    justify-content: center;
    text-align: left;
    font-family: sans-serif;
    margin-left: 5%;
    margin-bottom: 5px;
    /* border: 1px solid black; */
  }


  .box-buttons {
    width: 30%;
    height:50%;
    display: grid;
    grid-template-columns: 30px 30px;
    grid-template-rows: 30px;
    grid-gap: 15px;
    align-content: center;
    background:$deck;
    align-items: center;
    border:none;
    
  }

  .cover-button {
    background-color: transparent;
    margin: 3px;
    border:none;
    border-radius: 45%;
  }