.footer{
    height: 27vh;
    line-height: 70px;
    background-color: $darkShade;
    display: flex;
    color: $highlight;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .social-links{
        display: flex;
        flex-direction: row;
        width: 50%;
        justify-content: space-around;
        margin-bottom: 5px;
        img{
            height: 25px;
            width: 25px;
        }
    }
    .contact{
        margin-top: 5px;
        color: $accent;
        font-size: $footerFontSize;
    }
  }