.nav_links{
    width:100%;
    height:12vh;
    background:rgb(157, 153, 153);
    display: flex;
    justify-content: space-around;
    align-items: center;
}

@media (max-width:500px){
    // .nav_links{
    //     // display: none;
    // }
}
@media(min-width:900px){
    .nav_links{
        background:lightblue;
    }
}