.landing_body{
    width:100%;
    height:410vh;
    text-align: center;
    background:$card;
}

.focal_point{
    height:65vh;
    display: flex;
    position:relative;
    flex-direction: column;
    justify-content: space-between;
    padding:20px;
    text-align: center;
    background-image: url('./background2.jpg');
    background-repeat: no-repeat;
    .focal_point,button{
        width:60vw;
        height:10vh;
        border:none;
        background: $card;
        border-radius: 5px;
        font-size:1em;
    }
}

.steps{
    height:335vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    padding:5px;
}

.img_card{
    width:95%;
    height:40vh;
}
.description_card{
    width:90%;
    height:30vh;
    background:white;
    padding:5px;
    border:1px solid black;
}

.title_bg{
    font-size:40px;
    font-weight:800;
}
.title_md{
    font-size:30px;
    font-weight:700;
}
.title_sml{
    font-size:25px;
    font-weight:600;
}