.landing_body{
    width:100%;
    height:325vh;
    text-align: center;
    background:$card;
}

@media (max-width: 321px) {
    .landing_body {
        height: 360vh;
    }
}

.focal_point{
    height:65vh;
    display: flex;
    position:relative;
    flex-direction: column;
    justify-content: space-around;
    padding:20px;
    text-align: center;
    background-image: url('./background2.jpg');
    background-repeat: no-repeat;
    .focal_point,button{
        width:60vw;
        height:10vh;
        border:none;
        background:whitesmoke;
        border-radius: 5px;
        font-size:1em;
    }
    .title_bg {
        padding-top: 40px;
        font-family: $modern, Tahoma, helvetica;
    }
    .title_md {
        // margin-top: -45px;
    }
}


.steps{
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    margin-top: 100px;
    padding:5px;
}

.create_deck_desc {
    display: flex;
    width: 80vw;
    height: 175%;
    flex-direction: column;
    line-height: 210%;
    font-family: $titles;
    background: $landingcard;
    margin-top: 100px;
    padding-top: 25px;
    padding-bottom: 25px;
}

.create_deck_desc > div {
    order: 1;
    word-wrap: break-word;
    margin: auto;
    margin-bottom: 25px;
}

.create_card_desc {
    display: flex;
    width: 80vw;
    height: 175%;
    align-items: center;
    flex-direction: column;
    line-height: 210%;
    font-family: $titles;
    margin-top: 25px;
    background: $landingcard;
    margin-bottom: 25px;
    padding-top: 25px;
}

.create_card_desc > div > .img_card {
    border-radius: 0%;
    margin-bottom: -15px;
}

.answer_desc {
    position: relative;
    bottom: 103px;
    word-wrap: break-word;
    width: 300px;
    line-height: 160%;
    font-family: $font;
}

.study_desc {
    width: 80vw;
    height: 25%;
    display: flex;
    flex-direction: column;
    margin-bottom: 150px;
    font-family: $titles;
    line-height: 210%;
    background: $landingcard;
    padding-top: 25px;   
    padding-bottom: 25px;
}

.study_desc > div {
    margin-bottom: 25px;
}

.img_card{
    width:250px;
    height:150px;
    margin-left: auto;
    margin-right: auto;
    order: 2;
    border-radius: 50%;
}

.description_card{
    width:250px;
    height:150px;
    background:white;
    display: flex;
    align-items: center;
    justify-content: center;
    border:1px solid black;
    margin-bottom: 25px; 
    margin-left: auto;
    margin-right: auto;
    font-family: $font;
}

.title_bg{
    font-size:40px;
    font-weight:800;
}
.title_md{
    font-size:30px;
    font-weight:700;
    text-shadow: 1px 2px 2px $card;
}
.title_sml{
    font-size:25px;
    font-weight:600;
    margin-bottom: 15px;
}

@media (min-width:850px) {
    .landing_body {
        height: 1750px;
    }

    .focal_point {
        background-size: 100% auto;
        // margin-left: 10%;
        // margin-right: 10%;
    }

    .steps{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        justify-content: space-between;
        text-align: center;
        margin-top: 50px;
        padding:5px;
    }

    .create_deck_desc {
        display: flex;
        flex-direction: row;
        line-height: 210%;
        width: 80vw;
        height: 200px;
        font-family: $titles;
        justify-content: space-around;
        .img_card {
            margin-top: 10px;
            margin-left: 20px;
        }
        div {
            margin-top: 65px;
        }
        div > p {
            width: 90%;
            margin-left: auto;
            margin-right: auto;
        }
        div > h2 {
            margin-left: auto;
        }
    }

    .create_deck_desc > div {
        order: 2;
        margin-left: 35px;
        word-wrap: break-word;
        margin-top: auto;
        margin-bottom: 150px;
    }
    
    .create_card_desc {
        display: flex;
        flex-direction: row !important;
        width: 80vw;
        height: 400px;
        flex-direction: column;
        line-height: 210%;
        font-family: $titles;
        margin-bottom: 0px;
        justify-content: space-around;
       
    }
    
    .create_card_desc {
        .card_desc {
        margin-left: 20px;
        margin-right: 25px;
        margin-bottom: 150px;
        order: 1;
        }
    }
    .card_example {
        order: 2;
    }
    
    .create_card_desc > .card_example > .img_card {
        border-radius: 0%;
    }
    
    .answer_desc {
        position: relative;
        bottom: 106px;
        word-wrap: break-word;
        width: 300px;
        line-height: 90%;
    }

    .study_desc {
        width: 80vw;
        height: 175px;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        margin-top: -250px;
        font-family: $titles;
        margin-top: 50px;
        margin-right: auto;
        margin-left: auto;
    }
    
    .study_desc > div {
        width: 60%;
        margin-bottom: 25px;
        margin-left: auto;
        margin-right: auto;
        order: 2;
    }

    .study_desc > img {
        order: 1;
    }

    .img_card{
        width:275px;
        height:165px;
        order: 1;
    }
    .description_card{
        width:275px;
        height:165px;
        background:white;
        display: flex;
        align-items: center;
        justify-content: center;
        border:1px solid black;
       
    }
    
    .title_bg{
        font-size:40px;
        font-weight:800;
        font-family: $titles !important;
    }
    .title_md{
        font-size:30px;
        font-weight:700;
        text-shadow: 1px 2px 2px $card;
    }
    .title_sml{
        font-size:25px;
        font-weight:600;
    }
}