.landing_body{
    width:100%;
    height:280vh;
    text-align: center;
    background:$card;
}

.focal_point{
    height:65vh;
    display: flex;
    position:relative;
    flex-direction: column;
    justify-content: space-between;
    padding:20px;
    text-align: center;
    background-image: url('./background2.jpg');
    background-repeat: no-repeat;
    .focal_point,button{
        width:60vw;
        height:10vh;
        border:none;
        background: $card;
        border-radius: 5px;
        font-size:1em;
    }
}

.steps{
    height:150vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    margin-top: 100px;
    padding:5px;
}

.create_deck_desc {
    display: flex;
    width: 80vw;
    height: 35vh;
    flex-direction: column;
    line-height: 210%;
    font-family: $questionFont;
    margin-top: 100px;

}

.create_deck_desc > div {
    order: 1;
    word-wrap: break-word;
    margin: auto;
    margin-bottom: 25px;
}

.create_card_desc {
    display: flex;
    width: 80vw;
    height: 35vh;
    align-items: center;
    flex-direction: column;
    line-height: 210%;
    font-family: $questionFont;
    margin-top: 250px;
    margin-bottom: 300px;
}

.create_card_desc > div {
    margin-bottom: 25px;
}

.create_card_desc > div > .img_card {
    border-radius: 0%;
}

.answer_desc {
    position: relative;
    bottom: 117px;
    word-wrap: break-word;
    width: 300px;
    line-height: 100%;
}

.study_desc {
    width: 80vw;
    height: 25vh;
    display: flex;
    flex-direction: column;
    margin-top: 100px;
}

.study_desc > div {
    margin-bottom: 25px;
}

.img_card{
    width:300px;
    height:180px;
    margin-left: auto;
    margin-right: auto;
    order: 2;
    border-radius: 50%;
}

.description_card{
    width:300px;
    height:180px;
    background:white;
    display: flex;
    align-items: center;
    justify-content: center;
    border:1px solid black;
    margin-bottom: 25px; 
}

.title_bg{
    font-size:40px;
    font-weight:800;
}
.title_md{
    font-size:30px;
    font-weight:700;
    text-shadow: 1px 2px 2px $card;
}
.title_sml{
    font-size:25px;
    font-weight:600;
    margin-bottom: 15px;
}

@media (min-width:850px) {
    .landing_body {
        height: 250vh;
    }

    .focal_point {
        background-size: 100% auto;
        // margin-left: 10%;
        // margin-right: 10%;
    }

    .steps{
        display: flex;
        height: 150vh;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        justify-content: space-between;
        text-align: center;
        margin-top: 50px;
        padding:5px;
    }

    .create_deck_desc {
        display: flex;
        flex-direction: row;
        line-height: 210%;
        width: 80vw;
        font-family: $questionFont;
        justify-content: space-around;
    }

    .create_deck_desc > div {
        order: 2;
        margin-left: 35px;
        word-wrap: break-word;
        margin-top: auto;
        margin-bottom: 150px;
    }
    
    .create_card_desc {
        display: flex;
        flex-direction: row !important;
        width: 80vw;
        flex-direction: column;
        line-height: 210%;
        font-family: $questionFont;
        margin-top: -35px;
        margin-bottom: -35px;
        justify-content: space-around;
    }
    
    .create_card_desc > .card_desc {
        margin-bottom: 25px;
        margin-right: 25px;
        margin-bottom: 150px;
        order: 1;
    }

    .card_example {
        order: 2;
    }
    
    .create_card_desc > .card_example > .img_card {
        border-radius: 0%;
    }
    
    .answer_desc {
        position: relative;
        bottom: 117px;
        word-wrap: break-word;
        width: 300px;
        line-height: 100%;
    }

    .study_desc {
        width: 80vw;
        height: 25vh;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        margin-top: -250px;
        font-family: $questionFont;
        margin-top: 50px;
    }
    
    .study_desc > div {
        margin-bottom: 25px;
        margin-left: 25px;
        order: 2;
    }

    .study_desc > img {
        order: 1;
    }

    .img_card{
        width:300px;
        height:180px;
        order: 1;
    }
    .description_card{
        width:300px;
        height:180px;
        background:white;
        display: flex;
        align-items: center;
        justify-content: center;
        border:1px solid black;
       
    }
    
    .title_bg{
        font-size:40px;
        font-weight:800;
    }
    .title_md{
        font-size:30px;
        font-weight:700;
        text-shadow: 1px 2px 2px $card;
    }
    .title_sml{
        font-size:25px;
        font-weight:600;
    }
}