.search_input{
    width:100%;
    height:7vh;
    background: $card;
    display:flex;
    justify-content: center;
    align-content: center;
    padding-top:10px;
    padding-bottom:5px;
   
    .search_input, input{
        width:50%;
        font-size:15px;
        margin-right:5px;
    }
    .search_input, button{
        width:25%;
        font-size:15px;
        background:$background;
    }
}

.search_container{
    width:100%;
    height:100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background:$card;
    justify-content: space-between;
    overflow: scroll;
}
.search_results{
   width:100%;
   height:25px;
   padding:5px;
   text-align: center;
   display: flex;
   flex-direction: column;
   align-items: center;
}
