@import url('https://fonts.googleapis.com/css?family=Oswald');
@import url('https://fonts.googleapis.com/css?family=Oswald:300');

//titles or fonts
$footerFontSize: 24px;

//buttons 
$buttonHeight: 150px;
$buttonWidth: 175px;
// $largeButtonFont:

//colors
$darkShade: #3581b8;
$mediumShade: #dee2d6;
$lightShade: #ebe9e9;
$highlight: #f3f8f2;
$accent: #fcb07e;

//header 

//footer

//cards
$questionFont: 'Oswald', sans-serif;
// $answerFont: 

//decks

//favorites