@import url('https://fonts.googleapis.com/css?family=Alegreya|Pangolin');

//titles or fonts
$footerFontSize: 20px;

//colors
$buttons:#309bc5;
$background:#bfd1e5;
$deck:#6b668d;
$card:#e9f1f7;
$darkShade:#4c6085;
$landingcard: #cedce6;

//cards         
$font:'pangolin';
$titles:'alegreya';
$modern:'sans-serif'