@import url("https://fonts.googleapis.com/css?family=Alegreya|Pangolin");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

a:link {
  color: black;
  text-decoration: none; }

a:visited {
  color: black;
  text-decoration: none; }

.footer {
  height: 27vh;
  line-height: 70px;
  background-color: #4c6085;
  display: flex;
  color: #bfd1e5;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .footer .social-links {
    display: flex;
    flex-direction: row;
    width: 50%;
    justify-content: space-around;
    margin-bottom: 5px; }
    .footer .social-links img {
      height: 25px;
      width: 25px; }
  .footer .contact {
    margin-top: 5px;
    color: #309bc5;
    font-size: 20px; }

.nav_background {
  background: #4c6085 !important; }

@media (min-width: 850px) {
  .footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center; } }

.landing_body {
  width: 100%;
  height: 325vh;
  text-align: center;
  background: #e9f1f7; }

@media (max-width: 321px) {
  .landing_body {
    height: 360vh; } }

.focal_point {
  height: 65vh;
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: space-around;
  padding: 20px;
  text-align: center;
  background-image: url("./background2.jpg");
  background-repeat: no-repeat; }
  .focal_point .focal_point, .focal_point button {
    width: 60vw;
    height: 10vh;
    border: none;
    background: whitesmoke;
    border-radius: 5px;
    font-size: 1em; }
  .focal_point .title_bg {
    padding-top: 40px;
    font-family: "sans-serif", Tahoma, helvetica; }

.steps {
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  margin-top: 100px;
  padding: 5px; }

.create_deck_desc {
  display: flex;
  width: 80vw;
  height: 175%;
  flex-direction: column;
  line-height: 210%;
  font-family: "alegreya";
  background: #cedce6;
  margin-top: 100px;
  padding-top: 25px;
  padding-bottom: 25px; }

.create_deck_desc > div {
  order: 1;
  word-wrap: break-word;
  margin: auto;
  margin-bottom: 25px; }

.create_card_desc {
  display: flex;
  width: 80vw;
  height: 175%;
  align-items: center;
  flex-direction: column;
  line-height: 210%;
  font-family: "alegreya";
  margin-top: 25px;
  background: #cedce6;
  margin-bottom: 25px;
  padding-top: 25px; }

.create_card_desc > div > .img_card {
  border-radius: 0%;
  margin-bottom: -15px; }

.answer_desc {
  position: relative;
  bottom: 103px;
  word-wrap: break-word;
  width: 300px;
  line-height: 160%;
  font-family: "pangolin"; }

.study_desc {
  width: 80vw;
  height: 25%;
  display: flex;
  flex-direction: column;
  margin-bottom: 150px;
  font-family: "alegreya";
  line-height: 210%;
  background: #cedce6;
  padding-top: 25px;
  padding-bottom: 25px; }

.study_desc > div {
  margin-bottom: 25px; }

.img_card {
  width: 250px;
  height: 150px;
  margin-left: auto;
  margin-right: auto;
  order: 2;
  border-radius: 50%; }

.description_card {
  width: 250px;
  height: 150px;
  background: white;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
  margin-bottom: 25px;
  margin-left: auto;
  margin-right: auto;
  font-family: "pangolin"; }

.title_bg {
  font-size: 40px;
  font-weight: 800; }

.title_md {
  font-size: 30px;
  font-weight: 700;
  text-shadow: 1px 2px 2px #e9f1f7; }

.title_sml {
  font-size: 25px;
  font-weight: 600;
  margin-bottom: 15px; }

@media (min-width: 850px) {
  .landing_body {
    height: 1750px; }
  .focal_point {
    background-size: 100% auto; }
  .steps {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    margin-top: 50px;
    padding: 5px; }
  .create_deck_desc {
    display: flex;
    flex-direction: row;
    line-height: 210%;
    width: 80vw;
    height: 200px;
    font-family: "alegreya";
    justify-content: space-around; }
    .create_deck_desc .img_card {
      margin-top: 10px;
      margin-left: 20px; }
    .create_deck_desc div {
      margin-top: 65px; }
    .create_deck_desc div > p {
      width: 90%;
      margin-left: auto;
      margin-right: auto; }
    .create_deck_desc div > h2 {
      margin-left: auto; }
  .create_deck_desc > div {
    order: 2;
    margin-left: 35px;
    word-wrap: break-word;
    margin-top: auto;
    margin-bottom: 150px; }
  .create_card_desc {
    display: flex;
    flex-direction: row !important;
    width: 80vw;
    height: 400px;
    flex-direction: column;
    line-height: 210%;
    font-family: "alegreya";
    margin-bottom: 0px;
    justify-content: space-around; }
  .create_card_desc .card_desc {
    margin-left: 20px;
    margin-right: 25px;
    margin-bottom: 150px;
    order: 1; }
  .card_example {
    order: 2; }
  .create_card_desc > .card_example > .img_card {
    border-radius: 0%; }
  .answer_desc {
    position: relative;
    bottom: 106px;
    word-wrap: break-word;
    width: 300px;
    line-height: 90%; }
  .study_desc {
    width: 80vw;
    height: 175px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: -250px;
    font-family: "alegreya";
    margin-top: 50px;
    margin-right: auto;
    margin-left: auto; }
  .study_desc > div {
    width: 60%;
    margin-bottom: 25px;
    margin-left: auto;
    margin-right: auto;
    order: 2; }
  .study_desc > img {
    order: 1; }
  .img_card {
    width: 275px;
    height: 165px;
    order: 1; }
  .description_card {
    width: 275px;
    height: 165px;
    background: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid black; }
  .title_bg {
    font-size: 40px;
    font-weight: 800;
    font-family: "alegreya" !important; }
  .title_md {
    font-size: 30px;
    font-weight: 700;
    text-shadow: 1px 2px 2px #e9f1f7; }
  .title_sml {
    font-size: 25px;
    font-weight: 600; } }

.home_body {
  width: 100%;
  height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background: #e9f1f7; }

.large_btn {
  width: 90vw;
  height: 10vh;
  border-radius: 3px;
  font-size: 24px;
  background: #309bc5;
  font-family: "alegreya";
  margin-bottom: 5px; }

.my_decks_bod {
  width: 100%;
  background: #e9f1f7;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 10px; }

.user_decks {
  width: 100%;
  height: 110vh;
  text-align: center;
  overflow: scroll;
  padding-top: 10px;
  background: #e9f1f7;
  overflow: scroll; }

.search_input {
  width: 100%;
  height: 7vh;
  background: #e9f1f7;
  display: flex;
  justify-content: center;
  align-content: center;
  padding-top: 10px;
  padding-bottom: 5px; }
  .search_input .search_input, .search_input input {
    width: 50%;
    font-size: 15px;
    margin-right: 5px; }
  .search_input .search_input, .search_input button {
    width: 25%;
    font-size: 15px;
    background: #bfd1e5; }

.search_container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #e9f1f7;
  justify-content: space-between;
  overflow: scroll; }

.search_results {
  width: 100%;
  height: 25px;
  padding: 5px;
  text-align: center; }

.create_card_bod {
  width: 100%;
  height: 100vh;
  background: #e9f1f7;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }

.box1:nth-child(1) {
  width: 95%;
  height: 45%; }

.box1:nth-child(2) {
  width: 95%;
  height: 45%;
  border-radius: 3px;
  background: #bfd1e5; }

.card2 {
  width: 94%;
  height: 70%;
  padding: 10px;
  font-size: 18px;
  background: whitesmoke;
  border-radius: 3px; }

.card2::placeholder {
  font-size: 18px; }

.lrg_btn {
  width: 150px;
  height: 40px;
  background: white;
  border-radius: 0;
  font-size: 14px;
  border: 1px solid black;
  border-radius: 3px; }

.btn_positioning {
  width: 100%;
  height: 20%;
  display: flex;
  justify-content: space-between;
  justify-content: space-around;
  align-items: center; }

.text_area_container {
  width: 100%;
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  justify-content: center; }

.text_area {
  width: 90%;
  height: 45%;
  border: 2px solid #e9f1f7;
  margin-bottom: 5px;
  font-size: 18px; }

.text_area::placeholder {
  font-size: 18px; }

.buttons {
  width: 90%;
  height: 5vh;
  display: flex;
  margin-left: 15px;
  justify-content: space-between; }

.sml_btn {
  width: 50%;
  height: 100%;
  font-size: 20px;
  background: #309bc5;
  border-radius: 3px; }

body {
  font-family: "alegreya"; }

.deck-cover {
  width: 90vw;
  height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background: #6b668d;
  margin: 20px;
  padding-top: 15px;
  border-radius: 3px; }

.deck-content {
  width: 90%;
  height: 75%;
  justify-content: center;
  text-align: center;
  font-size: 1em;
  line-height: 20px;
  border-radius: 3px;
  text-overflow: scroll;
  font-family: "pangolin"; }
  .deck-content .deck-content, .deck-content h2 {
    color: whitesmoke; }

.box-buttons {
  width: 90%;
  height: 10%;
  display: flex;
  flex-direction: row;
  align-content: center;
  align-items: center;
  border: none;
  justify-content: center;
  justify-content: space-around; }

.favorites_banner {
  width: 100%;
  height: 15vh;
  background: #e9f1f7;
  display: flex;
  justify-content: center;
  align-items: center; }

.favorites_title {
  width: 90vw;
  height: 10vh;
  border-radius: 3px;
  font-size: 24px;
  background: #309bc5;
  font-family: "alegreya";
  margin-bottom: 5px;
  display: flex;
  justify-content: center;
  align-items: center; }

.card-cover {
  width: 90vw;
  height: 20vh;
  display: flex;
  align-items: center;
  margin: 5vw;
  background: #f6f6f0;
  border-radius: 3px;
  padding: 5px;
  border: 1px solid #cfcfc0;
  overflow: scroll; }

.card-question {
  width: 75vw;
  height: 90px;
  display: flex;
  align-items: center;
  padding-left: 10px;
  line-height: 20px;
  overflow: scroll;
  justify-content: center;
  font-size: 20px; }

.deck_viewer_m {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: #e9f1f7;
  overflow: scroll; }

.dv_titles {
  width: 90%;
  height: 15%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px;
  text-align: left;
  line-height: 20px;
  background: #6b668d;
  margin-top: 5px;
  border-radius: 3px;
  text-align: center; }
  .dv_titles .dv_titles, .dv_titles h2 {
    color: whitesmoke; }

.toggle_bttn {
  width: 30%;
  height: 5%;
  margin-top: 5px;
  margin-bottom: 5px;
  display: flex;
  align-self: center;
  justify-content: center;
  align-items: center; }

.info_displayer {
  width: 100%;
  height: 100vh;
  overflow: scroll;
  display: flex;
  justify-content: center;
  align-content: center;
  padding: 10px; }

.card_viewer_options {
  width: 93vw;
  height: 10vh;
  border-radius: 3px;
  font-size: 24px;
  background: #e9f1f7;
  display: flex;
  justify-content: center;
  justify-content: space-between;
  align-items: center;
  margin-left: 20px; }

.option_section {
  width: 45%;
  height: 80%;
  background: #309bc5;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 3px; }

.carousel {
  width: 100%;
  height: 70vh;
  background: #e9f1f7; }

.bottom_of_carousel {
  width: 100%;
  height: 30vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center; }

.flip_btn {
  width: 50%;
  height: 20%;
  font-size: 30px;
  background: #bfd1e5;
  border-radius: 3px; }
